Add transport to SIPRegistrationUserAgent

Hi,

our SIP Server is running via TCP-TLS and we had quite some hard time to figure out, how to register to this server.

Could you please add to the documentation for SIPRegistrationUserAgent (https://sipsorcery-org.github.io/sipsorcery/api/SIPSorcery.SIP.App.SIPRegistrationUserAgent.html) in the second function, that the Server can also be reached via TLS if you add '; transport=tls':



Type | Name | Description
-- | -- | --
System.String | server | The hostname or socket address for the registration server. Can be in a format of hostname:port or ipaddress:port, e.g. sipsorcery.com or 67.222.131.147:5060. _If your transport is not udp, you can add this seperated by semicolon and 'transport=tls'._




Using a SIP URI parameter to specify a SIP transport is part of the SIP specification. See [RFC3261 section 25.1](https://datatracker.ietf.org/doc/html/rfc3261#section-25.1):

````
uri-parameters    =  *( ";" uri-parameter)
uri-parameter     =  transport-param / user-param / method-param
                     / ttl-param / maddr-param / lr-param / other-param
transport-param   =  "transport="
                     ( "udp" / "tcp" / "sctp" / "tls"
                     / other-transport)
````

Although admittedly the BNF is not exactly intuitive.

Apart from that I'm always happy to see the documentation improved and if you got stuck on that parameter on the  `SIPRegistrationUserAgent` someone else may as well so. I'll add an additional explanation.