Compatibility check of packetization-mode

Right now I'm trying with chromium as the answer peer.

It returns:
```
a=recvonly
a=rtcp-mux
a=rtpmap:126 H264/90000
a=rtcp-fb:126 transport-cc
a=fmtp:126 level-asymmetry-allowed=1;packetization-mode=0;profile-level-id=42e01f
```

The new `CheckCompatible` strictly allows mode 1,
https://github.com/sipsorcery-org/sipsorcery/blob/aa5fb6a12cc90ae2a3aaa88044b2d50514bc4b9e/src/net/SDP/SDPAudioVideoMediaFormat.cs#L172-L186

But the offer from SIPSorcery doesn't include `packetization-mode` yet.
[RFC 6184 section 6.2](https://datatracker.ietf.org/doc/html/rfc6184#section-6.2) presents that if no `packetization-mode` is present, it is assumed to be 0, but I think SIPSorcery implied `packetization-mode=1`.

I tried adding parameter `packetization-mode=1` when passing the `VideoFormat` to `MediaStream` for H264,
```c#
var parameterizedFormats = localvid.GetVideoSourceFormats().Select(fmt =>
{
    if (fmt.Codec == VideoCodecsEnum.H264)
    {
        fmt.Parameters = "packetization-mode=1";
    }

    return fmt;
}).ToList();

pclcl.addTrack(new MediaStreamTrack(parameterizedFormats, MediaStreamStatusEnum.SendOnly));

```
It stutters on the  browser side

https://github.com/user-attachments/assets/13458e8e-d26c-4340-87ea-3c7dfcbfc148

<details>

## from [AVC / H.264](https://developer.mozilla.org/en-US/docs/Web/Media/Guides/Formats/WebRTC_codecs#avc_h.264)

> ## Parameters with specific requirements
> 
> These parameters may or may not be required, but have some special requirement when used.
> 
> [packetization-mode](https://developer.mozilla.org/en-US/docs/Web/Media/Guides/Formats/WebRTC_codecs#packetization-mode)
>> All endpoints are required to support mode 1 (non-interleaved mode). Support for other packetization modes is optional, and the parameter itself is not required to be specified.
>
> [sprop-parameter-sets](https://developer.mozilla.org/en-US/docs/Web/Media/Guides/Formats/WebRTC_codecs#sprop-parameter-sets)
>> Sequence and picture information for AVC can be sent either in-band or out-of-band. When AVC is used with WebRTC, this information must be signaled in-band; the sprop-parameter-sets parameter must therefore not be included in the SDP.
> 
> ## Parameters which must be specified
> 
> These parameters must be specified whenever using AVC in a WebRTC connection.
> 
> [profile-level-id](https://developer.mozilla.org/en-US/docs/Web/Media/Guides/Formats/WebRTC_codecs#profile-level-id)
>> All WebRTC implementations are required to specify and interpret this parameter in their SDP, identifying the sub-profile used by the codec. The specific value that is set is not defined; what matters is that the parameter be used at all. This is useful to note, since in [RFC 6184](https://datatracker.ietf.org/doc/html/rfc6184) ("RTP Payload Format for H.264 Video"), profile-level-id is entirely optional.
</details>

The stuttering is now fixed.

Additional context for anyone in the future:
- I changed the encoding profile, `baseline` is ok for this case.
    Though we might be able to negotiate in `fmtp` `profile-level-id` ?